<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Blog</title>
    <nav>
        <div id="box">
            <div id="logo">
                <p>DAILY JOURNAL</p>
            </div>
            <div id="left">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
            </ul>
        </div>
        </div>
    </nav>
</head>
